<form [formGroup]="createForm" (ngSubmit)="onSubmit()">

  <div class="container-form">
    <div class="izquierda col-8">
      <div style="font-weight: bold; margin-top: 20px; margin-bottom: 20px;">Recarga del cliente:</div>


      <div class="input" *ngIf="!studentLocalStorage">
      </div>

      <div class="input">
        <label>Crear Curso</label>
        <input id="name" class="texto" placeholder="ejemplo: 5000 pesos" type="text" formControlName="name">
        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
          <div *ngIf="f.name.errors.required" class="texto-apoyo error">enter code</div>
        </div>
        <input id="code" class="texto" placeholder="ejemplo: 5000 pesos" type="text" formControlName="code">
        <div *ngIf="f.code.invalid && (f.code.dirty || f.code.touched)">
          <div *ngIf="f.code.errors.required" class="texto-apoyo error">enter code</div>
        </div>
      </div>

      <div class="input boton max-width-200">
        <button class="primario"  type="submit">Create Curso</button>
      </div>
      <div class="input boton max-width-200" *ngIf="errorCreateCourse">
        <div>
          <div class="texto-apoyo error">{{errorCreateCourse.desc}}</div>
        </div>
      </div>
    </div>
  </div>

</form>
