<form [formGroup]="createForm" (ngSubmit)="onSubmit()">

  <div class="container-form">
    <div class="izquierda col-8">
      <div style="font-weight: bold; margin-top: 20px; margin-bottom: 20px;">Recarga del cliente:</div>


      <div class="input" *ngIf="!studentLocalStorage">
        <label>Rut</label>
        <input id="rutClienteId" class="texto" maxlength="13" placeholder="rut cliente" type="text" formControlName="rutStudent"
               formatRut>
        <div *ngIf="f.rutStudent.invalid && (f.rutStudent.dirty || f.rutStudent.touched)">
          <div *ngIf="f.rutStudent.errors.required" class="texto-apoyo error">enter your rut</div>
          <div *ngIf="f.rutStudent.errors.invalidRut" class="texto-apoyo error">invaid Rut</div>
        </div>
      </div>

      <div class="inputs-2col" *ngIf="!studentLocalStorage">
        <div class="input">
          <label>Name</label>
          <input class="texto" placeholder="" type="text" formControlName="nameStudent">
          <div *ngIf="f.nameStudent.invalid && (f.nameStudent.dirty || f.nameStudent.touched)">
            <div *ngIf="f.nameStudent.errors.required" class="texto-apoyo error">Debe ingresar su nombre completo</div>
          </div>
        </div>
      </div>

      <div class="inputs-2col" *ngIf="!studentLocalStorage">
        <div class="input">
          <label>userName</label>
          <input class="texto" placeholder="" type="text" formControlName="userNameStudent">
          <div *ngIf="f.userNameStudent.invalid && (f.userNameStudent.dirty || f.userNameStudent.touched)">
            <div *ngIf="f.userNameStudent.errors.required" class="texto-apoyo error">Debe ingresar su cuenta</div>
          </div>
        </div>
      </div>

      <div class="input">
        <label>Crear Curso</label>
        <input id="name" class="texto" placeholder="ejemplo: 5000 pesos" type="text" formControlName="name">
        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
          <div *ngIf="f.name.errors.required" class="texto-apoyo error">enter code</div>
        </div>
        <input id="code" class="texto" placeholder="ejemplo: 5000 pesos" type="text" formControlName="code">
        <div *ngIf="f.code.invalid && (f.code.dirty || f.code.touched)">
          <div *ngIf="f.code.errors.required" class="texto-apoyo error">enter code</div>
        </div>
      </div>

      <div class="input boton max-width-200">
        <button class="primario" [disabled]="createForm.invalid" type="submit">Create Curso</button>
      </div>
      <div class="input boton max-width-200" *ngIf="errorCreateCourse">
        <div>
          <div class="texto-apoyo error">{{errorCreateCourse.desc}}</div>
        </div>
      </div>
    </div>
  </div>

</form>
